.addActivity{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F8FC;
}

input[type='radio']{
    display: none;
}

.activity-selecter img{
    width: 100%;
    cursor: pointer;
}

.activity-selecter label>div{
    width: 60px;
}


.activity-selecter{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem ;
    cursor: pointer;
}

.activity-selecter label:hover img {
    border:2px solid gray;
    border-radius: 50%;
}

