@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;700&display=swap");
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mitr", sans-serif;
}

body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
div {
  font-family: "Mitr", sans-serif;
}

#require-info{
  color: red !important;
}

#root{
  background-color: #fafafa;
}