@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;