
a:hover {
  color: black;
  font-size: 105%;
}

/* Section main content */
#maincontent {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
  padding-top:40px ;
  height: 800px;
  /* max-width: 1200px; */
  width: 100%;
}

#maincontent-picture {
  /* border: 1px solid red; */
  position: relative;
  background-image: url(../../Picture/icon/Home/content_main.png);
  background-repeat: no-repeat, repeat;
  width: 1200px;
}

#textcontent {
  display: flex;
  flex-direction: row;
  width: 600px;
  position: absolute;
  left: 55%;
  top: 200px;
}

#textcontent1 h5 {
  text-align: center;
  color: #5854b0;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.button {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

#buttonGetStart {
  border: 0;
  display: flex;
  color: white;
  background-color: #5854b0;
  padding: 10px 16px;
  border-radius: 100px;
  transition: all 0.4s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 400px;
  text-decoration: none;
}

#buttonGetStart:hover {
  background-color: #1e1a69;
  color: #fff;
  font-size: 105%;
}

#buttonRegister {
  border: 2px solid #5854b0 !important;
  display: flex;
  color: #5854b0 !important;
  background-color: transparent !important;
  padding: 10px 16px;
  border-radius: 100px;
  transition: all 0.4s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 400px;
  background-color: transparent;
  text-decoration: none;
}

#buttonRegister:hover {
  background-color: #1e1a69;
  color: #fff;
  font-size: 105%;
}

/* card section */
.section2-container {
  display: flex;
  flex: 1;
  background-color: #f6f8fc;
  padding: 40px 0;
  justify-content: center;
}

.card-container {
  width: 300px;
  background-color: #fff;
  margin: 0 20px;
  padding: 40px 20px;
  border-radius: 4px;
  border: solid 1px ghostwhite;
}

.card-container:hover {
  border: 1px solid #7773f0;
}

.card-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container div img {
  width: 100px;
  height: 100px;
}

.card-container div h4 {
  margin: 10px 0;
}

/* contect section */

#contact {
  width: 1320px;
  /* border: 10px solid red; */
  margin: 0 auto;
  display: flex;
}

.map {
  border: 0;
  width: 450px;
  height: 400px;
  padding: 80px 50px 50px 50px;
}

.contact {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 10px solid red; */
}

.contact div {
  margin-top: 70px;
  width: 70%;
  /* border: 5px solid rgba(236, 255, 70, 0.75); */
}

/* Footer section */

.footer {
  margin: 0 auto;
  width: 1320px;
  text-align: right;
  padding: 25px;
}
