div.addActivity{
  min-height: 100vh;
  height: 100%;
}

.addActivity h2,
.addActivity-form h3 {
  text-align: center;
}

.addActivity h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 8px 0;
}

.addActivity-form {
  background-color: white;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  padding: 2rem 0;
  margin-bottom: 80px;
}

form.addActivty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.addActivty h3 {
  color: #5854b0;
  text-align: unset;
}

form input {
  width: 400px;
  border: transparent;
  font-size: 0.8rem;
}

form input:focus {
  outline: none;
}

div.distance-preset {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

div.distance-preset button {
  padding: 2px 16px;
}

div.duration-preset {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

div.duration-preset button {
  padding: 2px 5px;
}

.feeling {
  width: 400px;
  margin-bottom: 10px;
}

form input:not(input[type="file"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="file"] {
  visibility: hidden;
}

.image{
  width: 400px;
  text-align: left;
}

.image div {
  width: 400px;
}

.addActivty label {
  margin-bottom: 10px;
}

div.form-image-container {
  display: flex;
  margin: 20px
}

div.form-image-container img {
  max-width: 400px;
  max-height: 350px;
}

div.form-image-container .xmark {
  width: 12px;
  height: 12px;
  cursor: pointer;
}


.addAct-btn {
  width: 400px;
  margin-bottom: 0.5rem;
  padding: 5px 16px;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  border: transparent;
  text-align: center;
}

button.addActivity-btn {
  background-color: #5854b0;
  color: white;
}

.cancleActivity-btn {
  background-color: white;
  color: #5854b0;
  border: 2px solid #5854b0;
  text-decoration: none;
}

.cancleActivity-btn:hover {
  color: #5854b0;
}