.dashboard {
  padding-top: 55px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.dashboard-profile {
  display: flex;
  /* gap: 1.5rem; */
  justify-content:space-between;
  /* padding: 0.4rem; */
}

.dashboard > aside {
  padding: 40px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-profile img {
  width: 100%;
}

.dashboard-profile > figure {
  width: 90px;
  /* height: 90px; */
  border-radius: 50%;
}

.dashboard-profile > figure > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.dashboard-profile>div {
    display: flex;
    gap: 2px;
    cursor: pointer;
    max-width: 150px;
}

.dashboard-profile>div>span {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px;
}

.dashboard-profile > div > div {
  width: 20px;
}

div.dashboard aside{
  background-color: white;
}

aside .add-activity-btn {
  height: 50px;
  border-radius: 50px;
  background-color: #7773f0;
  border: transparent;
  color: white;
}

/* ---------- BMI  -------------- */
div.bmi{
  margin-top: 1rem;
}

div.weightAndHeight div {
  background-color: #f6f8fc;
  width: 130px;
  height: 80px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

div.weightAndHeight p {
  margin: 0;
}

div.weightAndHeight div h2 {
  text-align: end;
}

div.weightAndHeight div h2 small {
  margin-left: 0.5rem;
  font-size: 12px;
  font-weight: normal;
}

p.noBMI-info {
  margin-top: 1rem;
  font-size: small;
  text-align: center;
}

p.BMI-info {
  margin-top: 1rem;
}

p.BMI-info strong {
  font-size: 1.3rem;
  margin-left: 6px;
}

p.BMI-info ~ img {
  border-radius: 1rem;
  padding: 0.5rem;
}

/* ---------- badge  -------------- */
div.badge {
  padding: 0;
}

div.badge h6 {
  text-align: start;
}

aside .badge-container {
  display: flex;
  column-gap: 4px;
}
aside .badge-container img {
  width: 30px;
  height: 30px;
}

/* ---------- Quest -------------- */

div.mainquest{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.quest h6{
  color:rgb(124 58 237 );
}

div.questName{
  width: 100%;
}


div.questName *{
  font-size: 12px;
  margin-bottom: 0.5rem ;
}

div.questbar{
  margin: 0 !important;
}

button.quest-btn{
  width: 60px;
  height: 20px;
  font-size: 0.5rem;
  padding: 0;
  margin-top: 0.5rem;
}

button.tweetBtn{
  width: 100%;
  margin-top: 20px;
}

/* ---------- main section -------------- */
.dashboard > section {
  flex: 1;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f8fc;
}

.dasboard-card-section {
  padding: 40px;
}

.quote {
  display: flex;
  color: white;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    90.93deg,
    rgba(88, 84, 176, 0.7) -18.71%,
    #5854b0 54.34%,
    rgba(88, 84, 176, 0.6) 117.46%
  );
  align-items: center;
  justify-content: center;
}

.quote img {
  width: 70px;
  height: 70px;
}
