header{
    background-color: white;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    width: 1200px;
    margin: 0 auto;
}

/* left-navbar */
.left-navbar a {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color:black;
}

.left-navbar img {
    height: 40px;
    align-items: center;
}

div.left-navbar a p{
    height: 100%;
    margin: auto;
    /* transition: all 0.3s ease; */
}

div.left-navbar a p:hover{
    color: #7773F0;
}

/* right-navbar */
.right-navbar {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    height: 100%;
    margin: auto 0;
}

.right-navbar a {
    text-decoration: none;
    color: black;
    /* transition: all 0.3s ease; */
}

.right-navbar a:hover, .right-navbar a:active {
    color: #7773F0;
}

#navbar-login-btn {
    background-color: #7773F0;
    /* transition: all 0.3s ease; */
    color: white;
    width: 80px;
    height: 32px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

#navbar-login-btn:hover, #navbar-login-btn:active {
    background-color: #1e1a69;
}